.custom-map-container {
  @apply grid grid-cols-24 bg-color1;
  @apply max-w-content mx-auto;
}

.custom-map-background {
  @apply w-full bg-color1;
  margin-bottom: -2px;
}

.mapContainer {
  @apply col-start-3 col-span-20;
  width: 100%;
  height: 400px;
}