<div class="webkit-header-placeholder s:h-3 {{ entry is defined and entry.isHomepage ? 'visible bg-transparent' : 'invisible' }}">
	<div class="webkit-header-logo">
		<div class="webkit-header-logo-image"></div>
	</div>
	<nav class="webkit-header-navigation-container">
		<div class="webkit-menu-icon">

		</div>
	</nav>
</div>

